---
---

@import "{{ site.theme }}";


.markdown-body { font-family: "Times New Roman", serif; }

.help { 
	border: 2px solid #187d33; 
	border-radius: 10px;
	background-color: #d5f7de;
	padding: 15px; 
}

.q { 
	color: red;
	font-weight: bold
}

details { color: red }

details summary { 
	cursor: pointer;
	color: red;
}

details summary > * {
	display: inline;
}