---
---

@import "{{ site.theme }}";


.markdown-body { font-family: "Times New Roman", serif; }

.help { 
	border: 2px solid #187d33; 
	border-radius: 10px;
	background-color: #d5f7de;
	padding: 15px; 
}

.q { 
	color: red;
	font-weight: bold
}

details { color: red;
	cursor: pointer;
 }

details summary > * {
	display: inline;
}


h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 2px solid #778899 !important;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 2px solid #a0acb8 !important;
}

iframe {
	max-width: 100% !important;
        width: auto !important;
        height: auto !important;
}