---
---

@import "{{ site.theme }}";


.markdown-body { font-family: "Times New Roman", serif; }

.help { 
	border: 2px solid #187d33; 
	border-radius: 10px;
	background-color: #d5f7de;
	padding: 15px; 
}

.q { 
	color: red;
	font-weight: bold
}

.toc {
	border:2px solid #006400;
	background-color:#e6ffe6;
	border-radius: 5px;
	padding: 3px;
}

details { color: red;
	cursor: pointer;
 }



details summary > * {
	display: none; 
}



h1 {
	padding-bottom: 0.3em;
    	font-size: 3em;
    	border-bottom: 2px solid #778899 !important;
}

h2 {
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 2px solid #a0acb8 !important;
}

h3 {
    	font-size: 1.5em;
}
